/* NAV */

.nav-link {
  
    color: black !important;

}

.nav-link:hover {

color: #00AFFE !important;

}

.navbar {

padding: 50px 30px;
font-family: 'Roboto', sans-serif;
text-decoration: none;
color: black;
position: fixed;
font-size: 20px;
font-weight: bold;


}

.bg-img {

background: url("../img/03c.jpg") fixed;

    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background-position: center center;
-webkit-transform: translateZ(0);
transform: translateZ(0);
  will-change: transform;
clip: rect(0, auto, auto, 0);
  position: absolute;

}

#portfolio {

 position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;

}

#contact {

background-color: #eee;
padding: 20px;
}

.caption {

width: 100%;
max-width: 100%;

}
.corousel-caption {

position: absolute;
top: 38%;
z-index: 1;
color: white;
text-transform: uppercase;
width: 100%;
max-width: 100%;

}

.fa {
  font-size: 30px;
  width: 30px;
  text-decoration: none;
  border-radius: 50%;
  background-color: white;

}

.category_container {
  width: 800px;
  margin: 0 auto;
}

.category_item {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;

}


.gallery_item {
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.hide {
  transform: scale(0);
  width: 0;
  padding: 0;
  transition: all 0.4s ease-in-out;
}